@model ProjectPlaner.Models.Entity.Task

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Task name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            User:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.UserName)
        </dd>
        <dt class="col-sm-2">
            Project:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.project.name)
        </dd>
        <dt class="col-sm-2">
            Status:
        </dt>
        <dd class="col-sm-10">
            @Model.GetStatusDisplayName()
        </dd>
        <dt class = "col-sm-2">
            Time-limit:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_limit)
        </dd>
        <dt class = "col-sm-2">
            Description:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.taskId">Edit</a> |
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Index">Back to List</a>
    }
    else
    {
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Index">Back</a>
    }
</div>
