@model ProjectPlaner.Models.Entity.Task

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.project.name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Model.GetStatusDisplayName()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time_limit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time_limit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.taskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
