@model IEnumerable<ProjectPlaner.Models.Entity.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.user.UserName) *@
                user_name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time_limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project.name)
            </td>
            <td>
                @item.GetStatusDisplayName()
            </td>
            <td>
                @item.GetMarkerDisplayName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.taskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.taskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.taskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
